.about-content {
    padding: 0 20px 210px;
    min-height: 460px;
}

@media screen and (min-width: 1024px) {
    .collapse-desktop {
        width: 80%;
        margin: auto;
    }
    .about-content {
        padding: 0 50px 210px;
    }
}