.fiche-description {
    padding: 0 20px 110px;
    min-height: 560px;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

@media screen and (min-width: 1024px) {
    .fiche-description {
        padding: 0 50px 150px;
        min-height: 550px;
    }
    .main-content-logement {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .description-content {
        display: flex;
        justify-content: space-between;
    }
    .collapse-logement {
        width: 47%;
    }
}








