.link-decoration {
    text-decoration: underline;
}


/*** Page 404 ***/
.error-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-color);
}
.error-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-title {
    font-size: 96px;
    margin: 0;
}
.error-text {
    width: 60%;
    text-align: center;
}
.error-link {
    color: var(--primary-color);
    /* Conflit avec la ligne 25 link de la nav à corriger */
    text-decoration-line: underline;
}