/*** Section Header ***/
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header-title {
    font-size: 2.2em;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    color: #FF6060;
}
.navigation {
    font-size: 12px;
}
.link-nav {
    text-decoration: none;
}
.accueil {
    margin-right: 10px;
}
.kasa-logo-header {
    height: 18px;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    .header-content {
        padding: 25px 50px;
    }
    .header-title {
        font-size: 3em;
        font-weight: 500;
    }
    .navigation {
        width: 15%;
        display: flex;
        justify-content: space-around;
        font-weight: 400;
        font-size: 1em;
    }
    .kasa-logo-header {
        height: 25px;
    }
}