/*** Section Header ***/
.header-content {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
}

.header-title, .link-nav {
    color: var(--primary-color);
}

.link-nav {
    margin-right: .7em;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
}
.link-nav:hover {
    text-decoration: underline;
}

.kasa-logo {
    width: 22px;
    height: 18px;
    margin-right: 5px;
}
.porte-logo {
    position: absolute;
    width: 3px;
    height: 10px;
    bottom: 8px;
    left: 41px;
}

@media screen and (min-width: 768px) {
    .header-title {
        position: relative;
        font-size: 3em;
        letter-spacing: 3px;
    }
    .porte-logo {
        top: 30px;
        left: 49px;
    }
}

@media screen and (min-width: 1024px) {
    .header-content {
        width: 92%;
    }
}